.root{
    -fx-background-color: rgb(68, 68, 68);
    -fx-background-size: 600 500;
    /* -fx-font-family: "Franklin gothic heavy"; */
    /* -fx-font-weight: bold; */
}

.button{
    -fx-font-family: "Arial Black";
    -fx-background-color: rgb(0, 46, 63);
    -fx-text-fill: #fff; 
    -fx-border-color: Black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 0, 0);
    -fx-border-size: 2px;
}

.button:hover{
    -fx-background-color: rgb(42, 109, 139);
}

#greenBtn{
    
}

#greenBtn:hover{
    -fx-background-color: green;
}


#orangeBtn{

}

#orangeBtn:hover{
    -fx-background-color: orange;
}

#redBtn{

}

#redBtn:hover{
    -fx-background-color: red;
}